
.login-container {
    box-shadow: 0 8px 24px rgba(30, 80, 200, 0.6);
    border-radius: 14px;
    background: rgba(20, 35, 65, 0.85);
    backdrop-filter: blur(14px);
  }
  
  .links a {
    color: #4DA6FF; /* яскраво-синій */
    text-decoration: none; /* прибирає підкреслення */
    transition: color 0.3s ease; /* плавна зміна кольору при наведенні */
    margin: 20px;
    font-size: large;
}

.links a:hover {
    color: #1E90FF; 
}
.links {
  margin: 0 auto;
  text-align: center;
}