{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="tiles-container">
  <a href="#" class="tile">
    <div class="tile-content">
      <h3>Tile 1</h3>
      <p>Description for tile 1</p>
    </div>
  </a>
  <a href="#" class="tile">
    <div class="tile-content">
      <h3>Tile 2</h3>
      <p>Description for tile 2</p>
    </div>
  </a>
  <a href="#" class="tile">
    <div class="tile-content">
      <h3>Tile 3</h3>
      <p>Description for tile 3</p>
    </div>
  </a>
  <a href="#" class="tile">
    <div class="tile-content">
      <h3>Tile 4</h3>
      <p>Description for tile 4</p>
    </div>
  </a>
</div>
{% endblock %}
