{% extends "base.html" %}
{% load static %}
{% block title %}Edit Task {{ task.title }}{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_task.css' %}" />
{% endblock %}
{% block content %}
<div class="form-container">
{% if form.errors %}
    <div class="error-message">
        <p>Please correct the errors below:</p>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
    <h2 class="head-text">Edit Task {{ task.title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Edit Task</button>
    </form>


{% endblock %}
